# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.1.0=pypi_0
accelerate=0.29.3=pypi_0
aiofiles=23.2.1=pypi_0
aiohttp=3.8.6=pypi_0
aioprometheus=23.12.0=pypi_0
aiosignal=1.3.1=pypi_0
altair=5.1.2=pypi_0
annotated-types=0.6.0=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
asttokens=2.4.1=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bitsandbytes=0.43.1=pypi_0
black=23.10.1=pypi_0
bleach=6.1.0=pypi_0
blessed=1.20.0=pypi_0
boltons=23.0.0=py310h06a4308_0
brotli=1.1.0=pypi_0
brotlipy=0.7.0=py310h7f8727e_1002
bzip2=1.0.8=h7b6447c_0
c-ares=1.19.0=h5eee18b_0
ca-certificates=2023.05.30=h06a4308_0
cachetools=5.3.2=pypi_0
catalogue=2.0.10=pypi_0
certifi=2023.5.7=py310h06a4308_0
cffi=1.15.1=py310h5eee18b_3
charset-normalizer=2.0.4=pyhd3eb1b0_0
click=8.1.7=pypi_0
cloudpickle=3.0.0=pypi_0
cmake=3.27.7=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
conda=23.5.2=py310h06a4308_0
conda-content-trust=0.1.3=py310h06a4308_0
conda-libmamba-solver=23.5.0=py310h06a4308_0
conda-package-handling=2.1.0=py310h06a4308_0
conda-package-streaming=0.8.0=py310h06a4308_0
contourpy=1.1.1=pypi_0
cryptography=39.0.1=py310h9ce1e76_2
cycler=0.12.1=pypi_0
dataclasses-json=0.6.6=pypi_0
datasets=2.14.6=pypi_0
decorator=5.1.1=pypi_0
deepspeed=0.12.2=pypi_0
deepspeed-kernels=0.0.1.dev1698255861=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.7=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
docker-pycreds=0.4.0=pypi_0
docopt=0.6.2=pypi_0
docstring-parser=0.16=pypi_0
einops=0.7.0=pypi_0
exceptiongroup=1.1.3=pypi_0
executing=2.0.1=pypi_0
fastapi=0.104.1=pypi_0
fastcore=1.5.32=pypi_0
fastjsonschema=2.20.0=pypi_0
ffmpy=0.3.1=pypi_0
filelock=3.13.1=pypi_0
fire=0.5.0=pypi_0
flash-attn=2.5.8=pypi_0
fmt=9.1.0=hdb19cb5_0
fonttools=4.43.1=pypi_0
frozenlist=1.4.0=pypi_0
fschat=0.2.36=pypi_0
fsspec=2023.10.0=pypi_0
func-timeout=4.3.5=pypi_0
gevent=22.10.2=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
gpustat=1.1.1=pypi_0
gradio=4.29.0=pypi_0
gradio-client=0.16.1=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.62.2=pypi_0
h11=0.14.0=pypi_0
hjson=3.1.0=pypi_0
httpcore=0.18.0=pypi_0
httptools=0.6.1=pypi_0
httpx=0.25.0=pypi_0
huggingface-hub=0.20.3=pypi_0
humanfriendly=10.0=pypi_0
icu=58.2=he6710b0_3
idna=3.4=py310h06a4308_0
importlib-resources=6.1.0=pypi_0
inflate64=0.3.1=pypi_0
interegular=0.3.3=pypi_0
ipython=8.12.3=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.4.0=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=2.1=pyhd3eb1b0_0
jsonschema=4.19.2=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
jupyter-client=8.6.2=pypi_0
jupyter-core=5.7.2=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.20.1=h143b758_1
langchain=0.2.1=pypi_0
langchain-community=0.2.1=pypi_0
langchain-core=0.2.1=pypi_0
langchain-openai=0.1.7=pypi_0
langchain-text-splitters=0.2.0=pypi_0
langsmith=0.1.63=pypi_0
lark=1.1.9=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libarchive=3.6.2=h6ac8c49_2
libcurl=8.1.1=h251f7ec_1
libedit=3.1.20221030=h5eee18b_0
libev=4.33=h7f8727e_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libmamba=1.4.1=h2dafd23_1
libmambapy=1.4.1=py310h2dafd23_1
libnghttp2=1.52.0=h2d74bed_1
libsolv=0.7.22=he621ea3_0
libssh2=1.10.0=hdbd6064_2
libstdcxx-ng=11.2.0=h1234567_1
libuuid=1.41.5=h5eee18b_0
libxml2=2.10.3=hcbfbd50_0
lit=17.0.4=pypi_0
llama-recipes=0.0.1=pypi_0
llvmlite=0.42.0=pypi_0
lm-format-enforcer=0.9.8=pypi_0
loralib=0.1.2=pypi_0
lz4-c=1.9.4=h6a678d5_0
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markdown2=2.4.10=pypi_0
markupsafe=2.1.3=pypi_0
marshmallow=3.21.2=pypi_0
matplotlib=3.8.1=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mistune=3.0.2=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.7=pypi_0
multidict=6.0.4=pypi_0
multiprocess=0.70.15=pypi_0
multivolumefile=0.2.3=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
networkx=3.2.1=pypi_0
nh3=0.2.14=pypi_0
ninja=1.11.1.1=pypi_0
numba=0.59.1=pypi_0
numpy=1.26.1=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-ml-py=12.535.133=pypi_0
nvidia-nccl-cu12=2.19.3=pypi_0
nvidia-nvjitlink-cu12=12.3.52=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
nvitop=1.3.2=pypi_0
openai=1.30.3=pypi_0
openssl=3.0.9=h7f8727e_0
optimum=1.13.2=pypi_0
orjson=3.10.3=pypi_0
outlines=0.0.34=pypi_0
packaging=23.2=pypi_0
pandas=2.1.2=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.3=pypi_0
pathspec=0.11.2=pypi_0
pcre2=10.37=he7ceb23_1
peft=0.10.0=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.1.0=pypi_0
pip=23.1.2=py310h06a4308_0
pipreqs=0.5.0=pypi_0
platformdirs=3.11.0=pypi_0
pluggy=1.0.0=py310h06a4308_1
prometheus-client=0.20.0=pypi_0
prompt-toolkit=3.0.39=pypi_0
protobuf=4.25.0=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py-cpuinfo=9.0.0=pypi_0
py7zr=0.20.6=pypi_0
pyarrow=14.0.0=pypi_0
pybcj=1.0.1=pypi_0
pybind11-abi=4=hd3eb1b0_1
pycosat=0.6.4=py310h5eee18b_0
pycparser=2.21=pyhd3eb1b0_0
pycryptodomex=3.19.0=pypi_0
pydantic=2.7.1=pypi_0
pydantic-core=2.18.2=pypi_0
pydub=0.25.1=pypi_0
pygments=2.16.1=pypi_0
pynvml=11.5.0=pypi_0
pyopenssl=23.0.0=py310h06a4308_0
pyparsing=3.1.1=pypi_0
pyppmd=1.0.0=pypi_0
pysocks=1.7.1=py310h06a4308_0
python=3.10.12=h955ad1f_0
python-dateutil=2.8.2=pypi_0
python-dotenv=1.0.0=pypi_0
python-liquid=1.12.1=pypi_0
python-multipart=0.0.9=pypi_0
pytz=2023.3.post1=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=26.0.3=pypi_0
pyzstd=0.15.9=pypi_0
quantile-python=1.1=pypi_0
ray=2.9.1=pypi_0
readline=8.2=h5eee18b_0
referencing=0.30.2=pypi_0
regex=2023.10.3=pypi_0
reproc=14.2.4=h295c915_1
reproc-cpp=14.2.4=h295c915_1
requests=2.31.0=pypi_0
rich=13.6.0=pypi_0
rpds-py=0.10.6=pypi_0
ruamel.yaml=0.17.21=py310h5eee18b_0
ruamel.yaml.clib=0.2.6=py310h5eee18b_1
ruff=0.4.3=pypi_0
safetensors=0.4.2=pypi_0
scikit-learn=1.4.2=pypi_0
scipy=1.11.3=pypi_0
seaborn=0.13.2=pypi_0
semantic-version=2.10.0=pypi_0
sentencepiece=0.1.99=pypi_0
sentry-sdk=2.0.1=pypi_0
setproctitle=1.3.3=pypi_0
setuptools=67.8.0=py310h06a4308_0
shellingham=1.5.4=pypi_0
shortuuid=1.0.11=pypi_0
shtab=1.7.1=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.1=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.30=pypi_0
sqlite=3.41.2=h5eee18b_0
srsly=2.4.8=pypi_0
stack-data=0.6.3=pypi_0
starlette=0.27.0=pypi_0
svgwrite=1.4.3=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.16.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
termcolor=2.4.0=pypi_0
texttable=1.7.0=pypi_0
threadpoolctl=3.4.0=pypi_0
tiktoken=0.7.0=pypi_0
tinycss2=1.3.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenize-rt=5.2.0=pypi_0
tokenizers=0.15.2=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.12.0=pypi_0
toolz=0.12.0=py310h06a4308_0
torch=2.2.1=pypi_0
tornado=6.4.1=pypi_0
tqdm=4.65.0=py310h2f386ee_0
traitlets=5.13.0=pypi_0
transformers=4.38.2=pypi_0
triton=2.2.0=pypi_0
trl=0.8.6=pypi_0
typer=0.12.3=pypi_0
typing-extensions=4.8.0=pypi_0
typing-inspect=0.9.0=pypi_0
tyro=0.8.3=pypi_0
tzdata=2023.3=pypi_0
urllib3=2.2.1=pypi_0
uvicorn=0.23.2=pypi_0
uvloop=0.19.0=pypi_0
vllm=0.4.1=pypi_0
vllm-nccl-cu12=2.18.1.0.4.0=pypi_0
wandb=0.16.6=pypi_0
watchfiles=0.21.0=pypi_0
wavedrom=2.0.3.post3=pypi_0
wcwidth=0.2.9=pypi_0
webencodings=0.5.1=pypi_0
websockets=11.0.3=pypi_0
werkzeug=3.0.2=pypi_0
wheel=0.38.4=py310h06a4308_0
xformers=0.0.25=pypi_0
xxhash=3.4.1=pypi_0
xz=5.4.2=h5eee18b_0
yaml-cpp=0.7.0=h295c915_1
yarg=0.1.9=pypi_0
yarl=1.9.2=pypi_0
zlib=1.2.13=h5eee18b_0
zope-event=5.0=pypi_0
zope-interface=6.4.post2=pypi_0
zstandard=0.19.0=py310h5eee18b_0
zstd=1.5.5=hc292b87_0
